<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ZuochengyunBookCode/src/chapter_8_arrayandmatrix/Problem_24_MinPathValue.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chapter_8_arrayandmatrix.Problem_24_MinPathValue"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ZuochengyunBookCode"/>
</launchConfiguration>
