<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/project_1/src/cn/edu/nwsuaf/jp/p4/Store.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.edu.nwsuaf.jp.p4.Store"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="project_1"/>
</launchConfiguration>
